.span12
  %p
    %h2 My Account
.span12
  .span9.no-lmargin
    .span1.no-lmargin
      Email
    .span8.no-lmargin
      = current_user.username
    
.span12
  %p 
    %h3 Card info
  = render partial: 'card'

= render partial: "locations"  
= render partial: "events"

:javascript
  $(document).ready(function() {
    $("a.fancybox").fancybox({
      autoSize : true
    });
  });
  
  $("#popover a[href=close]").click(function(e){
    $("div[id*=loc_]").addClass('hidden');
    $("#popover").addClass('hidden');
    e.preventDefault();
  });
  
  $("button.submit").click(function(){
    element = $(this).attr("href");
    if(validate_fields(element)==true){
      $.fancybox.close();
      $("#fading-image").show();
      $(element + " form").submit();
    }
  });
  
  function validate_fields(element){
    result = true;
    $(element + " span.error").remove();
    require_fields = $(element).find(".required");
    $.each(require_fields, function(){
      if($(this).val()=="" || $(this).val()==null){
        $(this).parent().append("<span class='error'>can't be blank</span>");
        result = false;
      }
    });
    return result;
  }  
