.messages{class: "#{flash.blank? ? 'hidden' : ''}"}
  = render partial: 'home/messages'

:javascript
  $(".messages a[href=close]").click(function(e){
    $(".messages").addClass('hidden');
    e.preventDefault();
  });