#step0_c.inside.hidden
  .progress-bar.step0
  .copy Follow these easy steps to add your Company to StartupShopKC.
  %button(href="#step1_c" class="continue") I'm ready. let's begin!   
#step1_c.inside.hidden
  .progress-bar.step1
  .copy What Category does your company fall into?
  ~ form_tag '', class: 'form' do
    .input
      .label
        %i.icon-list-ul.form-icon
        Category
      .field.select_field
        = select_tag :category, options_for_select(Location::CATEGORIES), class: 'category-select', style: "width: 270px;"
    .input#startup-sub
      .label
        %i.icon-list-ul.form-icon
        Sub-Categories
      .field.select_field
        = select_tag :startup_sub, options_for_select(Location::STARTUP_SUBS), class: 'category-select', style: "width: 270px;"
      
  %button(href="#step2_c" class="continue") Okey! Next step!
#step2_c.inside.hidden
  .progress-bar.step2
  .copy Who Are you and where are you located?
  = render partial: "locations/form"
  %button(href="#step3_c" class="continue") Awesome! What's next?

#step3_c.inside.hidden
  .input
    %p Thank you for your listing, to ensure a community of inspired entrepreneurs the StartupShop team approves every post.  We will let you know when your post goes live.  Don't it doesn't take us long at all!
    %p In the Mean time tell your friends that you are apart of the Kansas City Startup Community.   
-##step3_c.inside.hidden
  -#.progress-bar.step3
  -#.copy Would you like to highlight your company? It's a great way to get noticed!
  -#%button.continue.no No thanks
  -#%button.continue.yes Yes please!
  
:javascript
  $(document).ready(function(){
    $("select#category").change(function(){
      if($(this).val()=="Startup"){
        $("#startup-sub").removeClass('hidden');
      }else{
        $("#startup-sub").addClass('hidden');
      }
    });
  });
