#step0_e.inside.hidden
  .progress-bar.step0
  .copy Adding your Event to StartupShopKC is extremely easy.
  %button(href="#step1_e" class="continue") I'm ready. let's begin!   
#step1_e.inside.hidden
  .progress-bar.step1
  .copy Next we'll need some important information. Spill it!
  = render partial: 'events/form'
  %button(href="#step2_e" class="continue") Create
#step2_e.inside.hidden
  .input
    %p Thank you for your listing, to ensure a community of inspired entrepreneurs the StartupShop team approves every post.  We will let you know when your post goes live.  Don't it doesn't take us long at all!
    %p In the Mean time tell your friends that you are apart of the Kansas City Startup Community.
