#step0_c.inside.hidden
  .progress-bar.step0
  .copy Adding your company to StartupShopKC is extremely easy. Simply follow the 4 step process. You can also highlight your company to blah blah blah
  %button(href="#step1_c" class="continue") I'm ready. let's begin!   
#step1_c.inside.hidden
  .progress-bar.step1
  .copy Start by specifying a category for your company. Choose wisely.
  ~ form_tag '', class: 'form' do
    .input
      %i.icon-list-ul.form-icon
      Category
      = select_tag :category, grouped_options_for_select(Location::CATEGORIES), class: 'category-select'
  %button(href="#step2_c" class="continue") Okey! Next step!
#step2_c.inside.hidden
  .progress-bar.step2
  .copy Next we'll need some important information. Spill it!
  = render partial: "locations/form"
  %button(href="#step3_c" class="continue") Awesome! What's next?
    
#step3_c.inside.hidden
  .progress-bar.step3
  .copy Would you like to highlight your company? It's a great way to get noticed!
  %button.continue.no No thanks
  %button.continue.yes Yes please!
