= link_to "<i class='#{icon_class} category-icon'></i>".html_safe, update_map_path, rel: cat_name, class: 'category_item'
%span.title= link_to cat_name, update_map_path, rel: cat_name, class: 'category_item'
= link_to "<i class='icon-arrow-right arrow-icon'></i>".html_safe, update_map_path, rel: cat_name, class: 'category_item'
