#event-item.left-menu.full.slide-out.hidden
  .background
    .title
      = link_to "<i class='icon-remove-sign title-close-icon'></i>".html_safe, "close"
    .inside.inside-full
      .single-company
        .single-company-info.events-info
          %i.icon-pushpin
          %span.title First Friday
          .info-item
            %i.icon-calendar
            %span Jun 12 2012
          .info-item
            %i.icon-time
            %span 9:30 - 10:30pm
          .info-item
            %i.icon-map-marker
            %span 1800 Baltimore
          .info-item 
            %i.icon-phone
            %span(816)842-5244
          .info-item
            %i.icon-envelope
            %span info@thinkbigpartners.com
          .info-item
            %i.icon-globe
            %span thinkbigpartners.com
        .company-description
          Description about how amazing first Fridays are at Think Big, we go up to the roof and get crazy. It’ll be the best 3 hours of your life!

#events.left-menu.full.hidden
  .background
    .title
      %i.icon-arrleft.title-icon
      %span.title-copy Upcoming Events
    .inside.inside-full.events-menu
      %ul.list-events
        - @events.each do |event|
          - date = DateTime.strptime(event.e_time, "%m/%d/%Y")
          %li
            %span
              = date.strftime("%b")
              %strong= date.day
            %div
              %strong= event.name
              %small 9:20 - 10:30
