- if @errors.blank?
  $("div[id*=step]").addClass('hidden');
  $("#step2_e").removeClass('hidden');
- else
  $("#step1_e .errors").html("#{escape_javascript(render partial: 'shared/errors')}")
$("#fading-image").hide();
