.gmap3{
  margin: 0 auto;
  border: 1px dashed #C0C0C0;
  width: 1000px;
  height: 750px;
}
.cluster{
  color: #FFFFFF;
  text-align:center;
  font-family: 'Arial, Helvetica';
  font-size:11px;
  font-weight:bold;
}
.cluster-1{
  background-image:url(../assets/m1.png);
  line-height:53px;
  width: 53px;
  height: 52px;
}
.cluster-2{
  background-image:url(../assets/m2.png);
  line-height:53px;
  width: 56px;
  height: 55px;
}
.cluster-3{
  background-image:url(../assets/m3.png);
  line-height:66px;
  width: 66px;
  height: 65px;
}

.marker_info{
  background: #FFFFA2;
  padding-right: 5px;
  width: 200px;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
}

.marker_info .info{
  padding: 10px 15px 10px 20px;
}
.right{
  text-align: right;
}

.close{
  font-weight: bold;
}
