body {
	margin:0;
	padding:0;
	font-family: Helvetica, Helvetica Neue, Arial,sans-serif;
	color:#222;
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.top-bar {
	height:69px;
	background-color:#369db6;
	background: url(../assets/top-bar.png);
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 100;
	padding: 0px 30px;
	overflow:hidden;
}

.map {
}

.left-logo {
	float:left;
	padding-top:16px;
	margin-right: 59px;
	width: 175px;
	margin-left: 12px;
}

.search {
	height: 34px;
	
	border: none;
	outline: none;
	border-radius: 5px;
	
}

.search-button {
	background-color:red;
	background-repeat: no-repeat;
	border: none;
	border-radius: 7px;
	padding-top: 3px;
	background: rgb(218,129,90); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(218,129,90,1) 0%, rgba(182,93,53,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(218,129,90,1)), color-stop(100%,rgba(182,93,53,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(218,129,90,1) 0%,rgba(182,93,53,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(218,129,90,1) 0%,rgba(182,93,53,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(218,129,90,1) 0%,rgba(182,93,53,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(218,129,90,1) 0%,rgba(182,93,53,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da815a', endColorstr='#b65d35',GradientType=0 ); /* IE6-9 */;
	border-bottom: 1px solid #812626;
	margin-left: -22px;
	position:absolute;
	right: 0px;
	margin-top: 0;
	width: 48px;
}

.search-button img {
    padding: 6px 10px;
	
    border: none;
    outline: none;
    padding-bottom: 5px;
}

.search-input {
	overflow: hidden;
	margin-top: 10px;
	min-width: 10px;
	position: relative;
}

.search-input input {
	padding-left: 9px;
font-family: Georgia;
font-style: italic;
font-size: 18px;
color: #777;
padding-right: 2%;
width: 92%;
float: left;
padding-left: 2%;
margin-left: 2%;
margin-right: 2%;
}

.top-bar .left {
	float:left;
}

.add-company-right {
	float: left;
	margin-top: 20px;
	padding-right: 10px;
}

.add-company-copy {
	font-size: 16px;
	font-weight:bold;
	color:white;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.65);
	vertical-align: 19%;
	padding-left: 6px;
}

.top-bar .right {
	width: 222px;
	float: right;
	margin-left: 50px;
}

.search-input form{
    padding: 0;
    margin: 0;
}

.left-menu {
	background-color:#0596b5;
	float: left;
	width: 255px;
	margin-left: 30px;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #007E96;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.22);
}

.title-copy {
	font-family:Lobster, Georgia italic, serif;
	color:white;
	font-size: 23px;
}

.content {
	margin-top:75px;
}


.title-icon {
	color:white;
	font-size: 22px;
	margin-right: 5px;
	vertical-align: top;
}

.left-menu .inside {
	background:white;
	border-radius: 4px;
	border-top: 1px solid rgba(0, 11, 31, 0.69);
	width: 255px;
}

.left-menu .inside .category{
	padding: 11px;
	border-bottom: 1px solid #C4C4C4;
	padding-bottom: 7px;
	padding-top: 8px;
}

.left-menu .inside .title {
	font-family:Helvetica Neue,Arial,sans-serif;
	font-weight:bold;
	font-style:normal;
	margin-left: 6px;
	font-size: 15px;
	vertical-align: middle;
	text-shadow: none;
}

.left-menu .inside .sub-category .category{
	padding-left: 25px;
	border-bottom: 1px solid #fff;
	padding-bottom: 7px;
	padding-top: 8px;
	background: #eee;
}

.left-menu .inside .sub-category .title {
	font-weight: normal;
}


.category .category-icon  i{
	vertical-align:middle;
	font-size:18px;
}

.category .category-icon {
	font-size: 19px;
	vertical-align: middle;
}

.arrow-icon {
	float:right;
	margin-top: 5px;
	color: #bbb;
}

.background .title {
	margin-bottom: 6px;
	margin-left: 6px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.43);
}

.left-menu .inside  .category-last {
	border-bottom:none;
}

.info-icon {
	color:white;
	float: right;
	margin-top: 20px;
	font-siZe: 25px;
	color: rgba(255, 255, 255, 0.65);
	margin-right: 6px;
}

.signin-icon {
	float:right;
	color: rgba(255, 255, 255, 0.64);
	margin-top: 20px;
	font-size: 23px;
}

.left-menu .selected {
	background-color:#004a5a;
	color: white;
	text-shadow: 0px -1px 0px black;
	border-top: 1px solid rgba(0, 0, 0, 0.46);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.category .icon-selected {
	color: rgba(255, 255, 255, 0.76);
	float: right;
	font-size: 19px;
	margin-top: 3px;
}

.title-close-icon {
	float:right;
	color: rgba(255, 255, 255, 0.72);
	font-size: 21px;
	margin-top: 8px;
	margin-right: 10px;
}

.inside .company .info {
	font-size: 12px;
	color: #666;
	margin-left: 25px;
	margin-top: 1px;
}

.content .full {

	position:absolute;
	top: 75px;
	bottom: 15px;
}

.inside-full {
	position:absolute;
	top: 43px;
	bottom: 8px;
	overflow-y: auto;
	
}

.back {
	padding-top:15px;
	margin-left: 98px;
	color: #999;
}

.back span {
	font-size: 14px;
	font-weight:bold;
}

.back-icon {
	font-size: 13px;
}

.content .slide-out {
	margin-left: 290px;
	background-color:#42b5d0
}

.content .slide-out .title-close-icon {
	margin-top: 2px;
	color: white;
}

#company-image img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:10px;
}

.single-company-info {
	padding-left: 18px;
	padding-top: 15px;
	border-top: 1px solid #ddd;
	padding-right: 7px;
	padding-bottom: 19px;
	border-bottom: 1px solid #ddd;
}

.left-location-icon {
    font-size: 23px;
    margin-right: 5px;
}


.content .slide-out .title {
	margin-left:0px;
}

.content .slide-out .info{
	color:#666;
	font-size:13px;
}

.content .slide-out .location{
	margin-left: 24px;
}

.info-item {
	color:#666;
	font-size:13px;
	margin-top:5px;
}

.company-info-icon {
	margin-right:10px;
	color:#444;
	font-size: 16px;
}

.phone-icon {
	margin-right: 9px;
}

.email-icon {
	margin-right:8px;
}
.twitter-icon {
	margin-right:7px;
}

.company-description {
	font-size:13px;
	color:#444;
	padding: 19px;
	padding-right: 12px;
}

/* POPOVER */

#popover, .popover {
	margin: 0 auto;
	width:470px;
	margin-top: 75px;
}

.popover{
  margin-top: 0;
  width: 490px;
}

#popover .background, .popover .background{
	background-color:#0596b5;
	float: left;
	width: 255px;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #007E96;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.22);
	width: 470px;
	margin-bottom:30px;
}

#popover .inside, .popover .inside{
	background:white;
	border-radius: 4px;
	border-top: 1px solid rgba(0, 11, 31, 0.69);
	width: 430px;
	padding:20px;
}

#popover .inside, #popover .inside form,
.popover .inside, .popover .inside form{
  float: left;
}

#popover .background .title, .popover .background .title{
	color:white;
	background:none;
	font-family:Lobster;
	text-shadow:0px -1px 0px black;
	font-size:26px;
	text-align:center;
}

.progress-bar {
	width:315px;
	height:12px;
	margin-left: 55px;
}


.step0 {
	background: url(../assets/step0.png);

}

.step1 {
	background: url(../assets/step1.png);
}

.step2 {
	background: url(../assets/step2.png);
}

.step3 {
	background: url(../assets/step3.png);

}

.step4 {
	background: url(../assets/step4.png);
}

.step5 {
	background: url(../assets/step5.png);
}

#popover .inside .copy, .popover .inside .copy{
	font-size: 21px;
	font-weight:bold;
	letter-spacing:-1px;
	margin-top: 28px;
}

.continue {
	color:white;
	font-size:20px;
	font-family:Lobster;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.43);
	text-align:center;
	width:300px;
	padding-top:8px;
	padding-bottom:8px;
	border:none;
	background: rgb(29,160,188); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(29,160,188,1) 0%, rgba(5,136,164,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,160,188,1)), color-stop(100%,rgba(5,136,164,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(29,160,188,1) 0%,rgba(5,136,164,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(29,160,188,1) 0%,rgba(5,136,164,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(29,160,188,1) 0%,rgba(5,136,164,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(29,160,188,1) 0%,rgba(5,136,164,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1da0bc', endColorstr='#0588a4',GradientType=0 ); /* IE6-9 */
	border-radius:4px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.37);
	margin-left: 65px;
	margin-top: 30px;
}

.form {
	font-size:16px;
	font-weight:bold;
}

.text-input {
	margin-left: 21px;
	width: 320px;
	height: 28px;
	border-radius: 3px;
	border: 1px solid #bbb;
	margin-top:10px;
	padding-left: 5px;
}

.category-select {
	margin-left: 9px;
	height: 33px;
	border-radius: 4px;
	border: 1px solid #aaa;
	width: 322px;
	font-size: 16px;
	margin-top:10px;
}

.form-icon {
	margin-right: 7px;
	vertical-align:middle;
}

.input {
	margin-top:13px;
}

.name-input {
    width: 270px;
    margin-left: 10px;
}
.address-input {
    width: 269px;
    margin-left: 73px;
}
.phone-input {
    width: 269px;
    margin-left: 20px;
}
.email-input {
    width: 269px;
    margin-left: 91px;
}
.web-input {
    width: 269px;
    margin-left: 70px;
}
.twitter-input {
    width: 269px;
    margin-left: 81px;
}
.facebook-input {
    margin-left: 59px;
    width: 269px;
}
.description-input {
    width: 269px;
    margin-left: 44px;
    height: 80px;
}

.inside .no {
	width: 170px;
	float:left;
	margin-left: 34px;
	background: rgb(224,103,151); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,103,151,1) 2%, rgba(173,107,119,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(224,103,151,1)), color-stop(100%,rgba(173,107,119,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(224,103,151,1) 2%,rgba(173,107,119,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(224,103,151,1) 2%,rgba(173,107,119,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(224,103,151,1) 2%,rgba(173,107,119,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(224,103,151,1) 2%,rgba(173,107,119,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06797', endColorstr='#ad6b77',GradientType=0 ); /* IE6-9 */

;background: #DA815A;  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(218, 129, 90, 1)), color-stop(100%,rgba(182, 93, 53, 1)));  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da815a', endColorstr='#b65d35',GradientType=0 );
}
.inside .yes {
	width: 170px;
	margin-left: 20px;
}

#popover .input, #popover .label, #popover .field,
.popover .input, .popover .label, .popover .field{
  float: left;
}

#popover .label, .popover .label{
  width: 147px;
  padding-top: 20px;
}

#popover .field, .popover .field{
  width: 280px;
}

#popover .field .label, .popover .field .label{
  padding-top: 10px;
  margin-left: 20px;
  width: 260px;
}

#popover .text-input, .popover .text-input{
  width: 255px !important;
}

#popover textarea, .popover textarea{
  height: 84px;
}

.button{
  appearance:button;
  -moz-appearance:button;
  -webkit-appearance: button;
  background: #1DA0BC;
  padding: 5px 20px;
}

.error{
  font-size: 12px;
  color: red;
  position: absolute;
  margin-left: 20px;
}
