.right-menu.right-full
  .background.news-feed
    .title
      %span.title-copy
        News Feed
    .inside.inside-full
      %ul.list-news-feed
        %li
          = link_to image_tag("ava.png"), "#"
          %div
            = link_to "Blake Miller", "#"
            Come join us tonight for
            = "#Event at Company"
            %span.time 23m
