- if @errors.blank?
  $("div[id*=step]").addClass('hidden');
  $("#step3_c").removeClass('hidden');
- else
  $("#step2_c .errors").html("#{escape_javascript(render partial: 'shared/errors')}");
$("#fading-image").hide();
